.fs-task {
    height: 200px;
    /*min-height: 37px;*/
    overflow-y: scroll;
    width: auto;
    min-width: 625px;
    background-color: #fff;
    color: #0b0080;
    border: 2px black solid;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
}
#inputSearch {
    margin-top: 10px;
    margin-left: 10px;
}
#found {
    margin-left: 5px;
    font-size: 14px;
    color: black;
}
#searchList {
    margin: 10px 10px;
}

.searchResults {
    list-style-type: none;
    font-size: 14px;
    margin-left: 0px;
}
